<div class="login-box">
    <h2>Forgot Password</h2>
    <form [formGroup]="loginForm">
      <div class="user-box">
        <input type="text" name="" required="" formControlName="userName">
        <label>Email</label>
      </div>
      <div class="user-box">
        <input type="password" name="" required="" formControlName="password">
        <label>New Password</label>
      </div>
      <div class="form-group alert alert-danger col-sm-12" role="alert" *ngIf="isLoginError">
        userName / Password are Wrong
    </div>
      <button type="submit"class="button button2"[disabled]="!loginForm.valid" (click)="login()"  [routerLink]="'/login'">Update</button>
      <p style="color: #ffff;text-align:center">Are you new user?</p>
      <button type="submit" class="buttons button2" (click)="clickBtn()" [disabled]="!user_data.valid" [routerLink]="'/register'">Register</button>
    </form>
  </div>
